h1 {
    color: blue;
    width: 16px;
    height: 16px;
}

p {
    text-align: justify;
}

.imagens {
    justify-content: center;
}
.img {
    justify-content: center;
    width: 10%;
    height: 10%;
}
